@charset "utf-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eadcda;
}

img{
    vertical-align: bottom;
}

/* Layout----------------- */
.wrapper{
    width: 1200px;
    margin: 1rem auto;
    background-color: white;
    overflow: hidden;
}
.wrapper-item{
    margin: 2rem 3rem;
}

/* Header----------------- */
.header{
    display: flex;
    align-items: flex-end;
}
.header-foot{
    display: none;
}



/* Nav-------------------- */
.nav-ul{
    display: flex;
}
.nav-child-ul{
    display: none;
}


/* col 格線系統*/

.col{
    display: flex;
}

.col-row{
    margin-left: -1rem;
    margin-right: -1rem;
}

.col-item{
    padding-left: 1rem;
    padding-right: 1rem;
}

/* 100/12=8.3333 每個佔3個=25% */

.col-item-1{
    width: 8.333333%;
}

.col-item-2{
    width: 16.66666668%;
}


.col-item-3{
    width: 25%;
}

.col-item-4{
    width: 33.3333333%;
}

.col-item-5{
    width: 41.6667%;
}


.col-item-6{
    width: 50%;
}


.col-item-7{
    width: 58.3333336%;
}


.col-item-8{
    width: 66.6666667%;
}

.col-item-9{
    width: 75%;
}

.col-item-10{
    width: 83.3333334%;
}

.col-item-11{
    width: 91.6666667%;
}


.col-item-12{
    width: 100%;
}

